#button-order {
  /* max-width: 100%; */
  width: 100%;
  height: 30px;
}

#txtSearch {
  border: 2px solid #ccc;
}

.table-header {
  background-color: #87a8b7;
  font-weight: bold;
}

.table-row {
  border-bottom: 2px solid #ccc;
}
